node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Uploaded images
/public/uploads/*
!/public/uploads/.gitkeep

# Next.js
/.next/
/out/

# Build outputs
.next
*.tsbuildinfo
.vercel
.env*.local
