/** Modal */

.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: -200px;
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  text-align: left;

}

.help-menu{
  display: flex;
  height: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;

}

.icon-help{
  margin-left: 5px;
}
.section1{
  margin-bottom: 50px;
}

.help__container{
  display: flex;
  flex-direction: column;

}

.section1 {
  margin-top: 3rem;
  padding: 2rem;
  border: 2px solid #f1f1f1;
  border-radius: 20px;
}

.section2{
  padding: 2rem;
  border: 2px solid #f1f1f1;
  border-radius: 20px;

}

.section1:hover, .section2:hover {
  border: 2px solid #63BFB7;
  cursor: pointer;
}

.header__modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__modal{
  font-weight: 600;
  font-size: 18px;
  color: #232323;
}

.help{
  font-size: 12px;
}

.help:hover{
  cursor: pointer;
}

.modal-close-btn {
  position: relative;
  font-size: 15px;
  width: 20px;
  border: none;
  background-color: white;
}

/** Overlay */
.overlay {
  border: 1px solid red;

  opacity: 0;
  transition: opacity 0.3s;

  position: absolute;

  z-index: 990;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}


background: rgba(0, 0, 0, 0.9);
color: #fff;
position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 100vw;
transition: all .5s;