

.header__transparent {
  height: 75px;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  z-index: 100;
  color: white;
  align-content: center;

}


ul .navbar-nav {
  color: #ffffff;
}