.title-listing {
  margin-left: 2.5rem;
  color: #0d0c22;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-listing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
}
.dates-listing {
  display: flex;
  flex-direction: column;
}
.schedule {
  margin-left: 5px;
}

.card-listing {
  max-width: 300px;
  margin-bottom: 20px;
}

.card-listing img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.category-listing {
  background-color: none;
  border: 1px solid #0d0c22;
  border-radius: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
  color: #0d0c22;
  font-weight: bold;
  max-width: 100%;
  font-size: 12px;
}

.slogan-listing {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 15px;
}
.name-listing {
  font-weight: 500;
  font-size: 16px;
  color: #0d0c22;
  margin-left: 5px;
}

.titcat {
  display: flex;
  justify-content: space-between;
}

.timeicon {
  margin-right: 5px;
  object-fit: contain;
  height: 15px !important;
}

@media (min-width: 991px) {
  .hero-listing{
    padding: 0 100px 0 ;

  }
  .title-listing {
    margin-left: 120px;
  }
}


