.header__about{
  width: 100%;
  position: absolute;
  height: 300px;
}

.img_banner{
  min-width: 330px;
  width: 100%;
  border: 1px solid red;
  min-height: 330px;
  height: 100%;
  top: 100;
}

.title__banner{
  position: absolute;
  
  font-weight: 800;
}

.slogan__banner{
  position: absolute;
  top: 100px;
  margin: 100px auto;
  font-weight: 400;

}
